[Unit]
Description=ngrok1
After=network.target

[Service]
User=ngrok
Group=ngrok
ExecStart=/srv/ngrok/bin/ngrok start --all --config /srv/ngrok/config/ngrok1.yml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple
Nice=-20
[Install]
WantedBy=multi-user.target
